@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color:#7c9">
    <img src="pic_trulli.jpg" alt="Italian Trulli">
    </body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:80%">
        <h1 class="wp-block-wporg-random-heading has-heading-cta-font-size">WordPress: Publish your <em>passion</em></h1></div>
    <p>Learn about <a href="https://wordpress.org/">Join us to explore new world</a>.</p>
</div>
