@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Word Publishing - Mumbai </h1>
        <p class="lead">At WP, we have set records of delivering authentic and accurate technical Testing and Translation services within a great budget & a short period.</p>
        <p><a href="https://www.wpsgp.com/company" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Workflow</h2>
            <p>
                Our Work Flow is constantly evolving and we strive for  continuous improvement.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.wpsgp.com/company">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Great Idea</h2>
            <p>We act, experiment, fail, adapt and learn on daily basis.</p>
            <p><a class="btn btn-outline-dark" href="https://www.wpsgp.com/company">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Team Work</h2>
            <p>Not finance, strategies, nor technology, our teamwork is our ultimate competitive advantage.</p>
            <p><a class="btn btn-outline-dark" href="https://www.wpsgp.com/company">Learn more &raquo;</a></p>
        </section>
    </div>

    <section class="row" aria-labelledby="aspnetTitle">
        <h2 id="title">Why Word Publishing ?</h2>
        <p class="lead">
            At Word Publishing, our mission is to break all the barriers between humanity. Through translations, we simplify situations and create a better understanding between organizations and their customers.



            By translating in over 200 languages, we aim to make this world a place in which information is easily accessed and understood by just one click – no matter what place you belong to. Our high-quality translations and undivided attention to our clients is what keeps bringing them back to us. We provide experts who work on your business according to the evolving global trends
        </p>
        <p><a href="https://www.wpsgp.com/company" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
        </style>
    </section>
</main>